{% extends 'layout.html' %}
{% block content %}
<form method='POST' enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Enter your credential.json</legend>
        <div class='form-group'>
            {{ form.credential.label() }}
            {{ form.credential(class="form-control-file") }}
            {% if form.credential.errors %}
            {% for error in form.credential.errors %}
            <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-dark") }}
    </fieldset>
</form>
{% endblock %}