{% extends 'layout.html' %}
{% block content %}
<h1>Google Calendar API</h1>
<div class='row'>
    <div class='col-lg-6'>
        <h5>How you're spending the day.</h5>
        {% with pie_chart_data=day_data, chart_name='Day' %}
        {% include 'pie_chart.html' %}
        {% endwith %}
    </div>
    <div class='col-lg-6'>
        <h5>How you're spending the week.</h5>
        {% with pie_chart_data=week_data, chart_name='Week' %}
        {% include 'pie_chart.html' %}
        {% endwith %}
    </div>
    <div class='col-lg-6'>
        <h5>How you're spending the next 4 weeks.</h5>
        {% include 'column_chart.html' %}
    </div>
</div>
{% endblock %}