<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawPieChart);

    function drawPieChart() {

        var data = google.visualization.arrayToDataTable({{ pie_chart | safe}});

    var options = {
        title: 'Activities',
        is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }

    $(window).resize(function () {
        drawPieChart();
    });

</script>

<div id="piechart" style="height: 500px;"></div>